<main>
    <h1>register</h1>
    <form action="/auth/registration" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="enter new email">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="enter new username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="enter new password">
        </div>
        <button class="submit">create user</button>
    </form>
</main>